body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-image: url("https://c.wallhere.com/photos/16/31/opera_browser_neon-5075.jpg!d");
    background-attachment: fixed;
}
div{
    background-color: white;
    border-style: dashed;
    border-radius: 20px;
    width: 60%;
    margin: 5% 20%;
    padding: 10px;
}
div.div1{
    border-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: row;
}
ul{
    list-style-type: none;
    margin-top: 30px;
}
li{
    margin: 10px;
    padding: 3px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
input{
    border-radius: 5px;
    padding: 3px;
}
button{
    background-color: lightcoral;
    color: aliceblue;
    border-radius: 5px;
    padding: 3px;
}

